<div class="rounded-md flex flex-row justify-between py-2 px-4 mt-4" [class]="task.status === '1' ? 'bg-green-300' : 'bg-red-300'">
  <div class="flex flex-row items-center justify-around w-5/6 cursor-pointer" (click)="showTaskDetails()">
    <p class="font-bold text-2xl">{{task.name}}</p>
    <p class="">{{formattedDate}}</p>
    <p>{{task.description}}</p>
  </div>
  <div class="flex flex-row">
    <button class="rounded-md mx-2 text-2xl hover:font-bold transition-all text-white border border-black bg-red-500 px-4 py-2" (click)="deleteTask()">Borrar</button>
  </div>
</div>
